<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<!--
<suite name="parasoft" parallel = "tests" thread-count="5" verbose="1">
	-->
<suite name="parasoft">
	<test name="chrome base">
		<parameter name="browser" value="chrome"/>
		<classes>
			<class name="base.TestBase">
			</class>
		</classes>
	</test>
	<test name="firefox base">
		<parameter name="browser" value="firefox"/>
		<classes>
			<class name="base.TestBase">
			</class>
		</classes>
	</test>
	<test name="chrome home page test">
		<parameter name="browser" value="chrome"/>
		<classes>
			<class name="testcases.HomePageTest">
			</class>
		</classes>
	</test>
	<test name="firefox home page test">
		<parameter name="browser" value="firefox"/>
		<classes>
			<class name="testcases.HomePageTest">
			</class>
		</classes>
	</test>
</suite>